<footer class="bg-dark text-white py-4 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>We are a team of passionate individuals dedicated to providing the best recipes and mood journals for our users.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Home</a></li>
                    <li><a href="/journal/" class="text-white">Daily Journal</a></li>
                    <li><a href="/recipes" class="text-white">Recipes</a></li>
                    <li><a href="#" class="text-white">My Profile</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li>Email: info@foodinmood.com</li>
                    <li>Phone: +0000000000</li>
                    <li>Address: Gongabu, Kathmandu</li>
                </ul>
                <div class="social-icons">
                    <a href="#" class="text-white mr-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white mr-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white mr-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white mr-2"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>&copy; 2024 FoodInMood. All rights reserved.</p>
        </div>
    </div>
</footer>