{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}

<div class="container my-5">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="box p-5 w-100">
            <h2 class="text-center mb-4">Recipes</h2>
            <div class="row">
                {% for recipe in recipes %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card h-100 p-3 w-100">
                        <img src="{{ recipe.recipe_image.url }}" alt="{{ recipe.title }}" class="card-img-top fixed-size-image">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                            <p class="card-text flex-grow-1">{{ recipe.description }}</p>
                            <a href="{% url 'recipe' recipe.id %}" class="btn btn-outline-primary mt-auto">View Recipe</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

                                                                                                                                                





{% include 'footer.html' %}

{% endblock content %}
